



.sideToolBarButton4{

    height: calc( 0.55 * var(--headerHeight) );
    width: calc( 0.55 * var(--headerHeight) );
    border-style: none ;
    border-color: white;
    border-width:medium;
    border-radius: 50%;
    background-color: orange;
    vertical-align: middle;
    cursor:pointer;
    margin: calc( 0.1 * var(--headerHeight) );
    display: flex;
    justify-content: center;
    align-items: center;

}


.toolBarIcon4{

color: white;
font-size: calc( 0.25 * var(--headerHeight) );;
font-weight: bold;
flex-shrink: 0;
}
