.Left {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none; 
  justify-content: flex-start;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  margin-left: 10px;

  height: 30px;
  width: 120px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  background-color: var(--tintGreyColor4);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.iconContainer {
  visibility: hidden;
}

.iconMenu1 {
  border: none;
  display: flex;
  justify-content: center;
  color: var(--tintGreyColor1);
}


.iconMenu1{
  cursor: pointer;
}
.iconMenu2 {
  border: none;
  display: flex;
  justify-content: center;
  color: var(--tintGreyColor1);
}

.iconMenu2:hover{
  cursor: pointer;
}
.iconMenu3 {
  border: none;
  display: flex;
  justify-content: center;
  color: var(--tintGreyColor1);
}

.iconMenu3{
  cursor: pointer;
}
.iconMenu4 {
  border: none;
  display: flex;
  justify-content: center;
  color: var(--tintGreyColor1);
}

.iconMenu4{
  cursor: pointer;
}

.leftMsgContainer {
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--lightThemeColor2);
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 16px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Left:hover .iconContainer {
  visibility: visible;
}

.msgTitle {
  color: var(--deepDarkThemeTextColor);
  font-size: 14px;
}
.timeandReadContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.readIcon {
  margin-left: 5px;
  display: flex;
  align-content: center;
}
.msgTime {
  color: var(--greyTextColor);
  margin-top: 3px;
  align-self: flex-end;
  font-size: 12px;
}


.imageData{
width:70%;
}

.replyDivContainer{
  background-color: #e9ebeb;
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}
.commenterDiv{
  margin-bottom: 5px;
  margin-top: 5px;
  color: #232b32;
}
.replyMessageDiv{
  margin-bottom: 5px;
}

.verticalLine{
  border: 1px solid blue;;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 3px;
  margin-bottom: 2px;
}