

.topIdBarTools{

position: relative;
display: flex;
justify-content: space-between;
right: calc( 0.2 * var(--headerHeight) );

}

.menuButton{
position: relative;
display: flex;
align-items: center;
border-style: none;
background-color: lightgrey;
cursor: pointer;
}



.menuIcon{
color: var(--sideNavBarBkgColor);
font-size: calc( 0.4 * var(--headerHeight) );
}

.newChatIcon{
position: relative;
top: calc( 0.05 * var(--headerHeight) );
color: var(--sideNavBarBkgColor);
font-size: calc( 0.5 * var(--headerHeight) );
font-weight: lighter;
}
