

.instituteBar {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px none;
  border-color: #e8e8e8;
  border-color: #d3d3d3;
  padding: 16px;
}

.mainContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topmainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timenAddressText {
  margin-left: 8px;
  color: var(--greyTextColor);
  text-transform: uppercase;
}

.timenAddressContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeandAddressIcon {
  color: var(--greyTextColor);

  background-color: var(--bodyBkgColor);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeandAddressEdit {
  width: 80px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cardBorderColorLight);
  background-color: var(--bodyBkgColor);
  border-radius: 6px;
  padding: 4px;
}

.timeandAddressEdit:hover{
  background-color: white;
  cursor: pointer;
  border: 1px solid var(--cardBorderColor);
}

.timeandAddressDetails {
}

.timeandAddressContianer {
  display: flex;
}

.time {
  font-size: 16px;
  color: var(--deepDarkThemeTextColor);
  font-weight: 500;
  font-size: 15px;
}

.Date {
  margin-left: 10px;
  color: var(--deepDarkThemeTextColor);
  font-weight: 500;
  font-size: 15px;
}

.addressContainer {
  margin-top: 10px;
}

.addressLine1 {
  margin-top: 5px;
  color: var(--greyTextColor);
  font-size: 15px;
}

.addressLine2 {
  margin-top: 5px;
  color: var(--greyTextColor);
  font-size: 15px;
}

.addressLine3 {
  margin-top: 5px;
  color: var(--greyTextColor);
  font-size: 16px;
}










.editBtnContainer {
  border: 1px solid;
  border-color: #e8e8e8;
  border-color: #d3d3d3;
  font-size: 14px;
  padding: 6px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bodyBkgColor);
}

.editBtnContainer:hover {
  cursor: pointer;
  color: white;
  background-color: var(--themeColor);
  font-weight: 700;
}

.editBtnContainer:hover .editbutton {
  color: white;
}

.editbutton {
  padding-right: 6px;
  color: var(--tintGreyColor1);
}
