
.contentDiv{
position: relative;	
background-color: var(--mainAppContainerBkgColor);
border-style:none;
border-width: 1px;
border-color: lightgrey;
width: 100% ;
height: calc( 100vh - calc(  var(--headerHeight) + var(--headerTopMargin) ) );
display: flex;
flex-direction:row;
}


