
.topTitleBar{

background-color: lightgrey;
color: grey;
box-shadow: none;
font-family:'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: calc(0.65 * var(--headerHeight));
vertical-align: middle;

}

.topTitleBar__Text{

margin-left: 30px;
font-style: normal;

}

