.contentDiv {
  position: relative;
  border-style: none;
  border-width: 5px;
  border-color: lightgrey;
  width: 100%;
  height: calc(100vh - calc(1 * var(--headerHeight)));
  border-radius: 0px 0px 0px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.pagination{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
  cursor: pointer;
}