.completeddiv{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr) );
    /* grid-auto-rows: 250px ; */
    /* border-style: none; */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* margin: 50px; */
    margin-top: 50px;
    
}


.assignmentBox{
    
    height: 170px;
    /* margin-top: 35px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-style: solid;
   
    
}


.box1{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-style: solid;
}
.totalCredit{
    margin-top: 2px;
    font-size: 12px;
    text-align: center;
    border-style: solid;
    
}
.scored{
   margin-top: 2px;
   border-style: solid;
}

.box2{
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 20px;
   font-size: 12px;
   display: flex;
    justify-content: space-between;
   
}

.icons{
    font-size: 18px;
    margin-right: 10%;
   
}
.courseid{
    background-color: #dcf7ea;
    margin-right: 20px;
    font-size: 15px;
    padding: 3px;
    color: #8ed5b1;
}

.pending{
    color: #224c98;
}

