.parentDivBtn{
border-style: none;
margin-left:20px;
position: relative;
}



.topToolBoxV1{
cursor: pointer;
border-style: solid;
border-radius:var(--cardBorderRadius);
width:var(--topRightButtonWidth_Course);
background-color: var(--topRightButtonBkgColorInActive_Course);
padding: 15px;
border-color: var(--cardBorderColor);
border-style: solid;
border-width: 1px;
}


.highLightDiv{
height:3px;
background-color: var(--themeColor);
margin-top:10px;
border-radius: 5px;
width: 90%;
margin-left: 6px;

}




.topToolBoxV1:hover{
color: var(--themeColor);
border-style: none;
}



.topToolBoxV1:hover .toolBoxIcon{
color: var(--themeColor);
}




.toolBoxIcon{

font-size: var(--topRightButtonIconFontSize_Course);
color: grey;
padding: 10px;
}

.toolBoxIcon:hover{
color: var(--themeColor);

}


.titleDiv{
color: black;
}


.notificationBox{
position: absolute;
background-color: red;
min-width: 10px;
height: 10px;
padding: 5px;
border-radius: 50%;
display: flex;
flex-direction: column;
justify-content: center;
right: -2px;
top: -5px;
border-style: solid;
border-color: white;
}


.notificationBox i{
font-style: normal;
color: white;
font-weight: bold;
}




@media screen and (max-width: 1200px) {

.parentDivBtn{
margin-left:0px;
margin-right: 20px;
}	




}














