
.contentDiv{
position: relative;
background-color: var(--mainAppContainerBkgColor);
border-style:none;
border-width: 1px;
border-color: lightgrey;
width: 100% ;
height: calc( 100vh - calc( 1.86  * var(--headerHeight) ) );
background-color: white;
border-radius: 0px 0px 0px 0px;
overflow-y: auto;
overflow-x: hidden;
}


