

.parentDetailBox {
  width: 100%;
}

.mainBox {
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.des {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amt {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gst {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
