<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <style media="screen">





  </style>



</head>

<body>

  <div class="apptitle" style="color: var(--blue);"><b>Student's Dashboard</b></div>

  <div class="dashboardAll">


    <div class="Row1">

      <div class="oned">
        Notice Board
      </div>

      <div class="twod">
        Immediate Action Items
      </div>

      <div class="threed">
        Course
      </div>

    </div>


    <div class="Row2">

      <div class="fourd">
        <a href="messages.html">Messages</a>
      </div>

      <div class="fived">
        Class
      </div>

      <div class="sixd">
        Task
      </div>

    </div>


    <div class="Row3">

      <div class="sevend">
        Exam
      </div>

      <div class="eightd">
        Classmates
      </div>

      <div class="nined">
        Teacher
      </div>

    </div>

    <div class="Row4">

      <div class="tend">
        Prepare
      </div>

      <div class="elevend">
        Books
      </div>

      <div class="twelved">
        Progress
      </div>

    </div>







  </div>

</body>

</html>
