<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Join us</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="./static/assets/img/home/Bluewhitelogo.JPG" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="./static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="./static/assets/css/style.css" rel="stylesheet">

    <style media="screen">




    </style>



  </head>
  <body>

    <section id="topbar" class="d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">



          <a href="./" class="topbarbutton"> <b> <span style="background-color: grey; color: white;"><p>&larr;</p></span> </b></a>
          <i class="d-flex align-items-center"><a href="./joinus"  style="padding-left:20px;">Join Us</a></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </section>


    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html"><span style="color: white; background-color: black; padding-left: 5px; padding-right:5px; border-radius: 2px;">ed</span>Research<span style="color:#034694;">.in</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Science Analyst-I</a></li>




          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->


<!--  Apply for job-->


<div class="container">

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScGAUiDCEByGbDuyp4ECjchQJ-v4rajZAkt0kuovkbLHKny6g/viewform?embedded=true" width="640" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>





























<!-- Apply for job end -->


    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="./static/assets/vendor/aos/aos.js"></script>
    <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./static/assets/vendor/php-email-form/validate.js"></script>
    <script src="./static/assets/vendor/purecounter/purecounter.js"></script>
    <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./static/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="./static/assets/js/main.js"></script>



  </body>
</html>
