{% extends 'student_userarea_base.html' %}


{% block student_dashboard_extend %} 


   {% load static %}
    <link href="{% static 'assets/css/student_userarea_dashboard.css' %}" rel="stylesheet">


    <div class="container_studsb">
     <div class="item_studsb item0_studsb">  <b>Student's Dashboard</b> </div>   

     <div class="item_studsb item1_studsb"> Notice Board  </div>

     <div class="item_studsb item2_studsb"> Immediate Action Items  </div>
   
     <div class="item_studsb item3_studsb"> Course  </div>

     <div class="item_studsb"> Messages  </div>

     <div class="item_studsb">  Class </div>

     <div class="item_studsb">  Tasks </div>
   
     <div class="item_studsb"> Exam  </div>

     <div class="item_studsb"> Classmates  </div>

     <div class="item_studsb">  Teacher </div>
   
     <div class="item_studsb">  Prepare </div>

     <div class="item_studsb">  Books  </div>

     <div class="item_studsb">  Progress </div>
     
           
     <div class="item_studsb">  Download </div>

     <div class="item_studsb"> Analytics  </div>

     <div class="item_studsb"> Statistics  </div>





    <div>
    
   


  </div> <!--main studsb container-->


     

      

    

   

     

  






   
  








{% endblock student_dashboard_extend %}
