

.parents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1e24;
}

.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cardBorderColorLight);
  padding-bottom: 10px;
}

.leftdiv {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: var(--cardBorderColorLight);
  color: var(--greyTextColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  background-color: white;
  border: 1px solid var(--cardBorderColor);
  border-radius: 6px;
  height: 25px;
  color: var(--deepDarkThemeTextColor);
}

.edit:hover {
  background-color: var(--themeColor);
  color: white;
  border: none;
  cursor: pointer;
}

.studentTitle {
  margin-left: 10px;
}

.mainContainer {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  border: 1px solid var(--cardBorderColor);
  border-radius: 10px;
  padding: 20px;
}

.mainBox {
  display: flex;
}

.leftSide {
}

.block1 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.admissionNo {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.AdmissionNO {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.name {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.Name {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.role {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.Role {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.title {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.Title {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.gender {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.Gender {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.dateofBirth {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.DateofBirth {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.motherTounge {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.MotherTounge {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.nationality {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.Nationality {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.aadharNo {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.AadharNO {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.classsNameTitle {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.ClassnameTitle {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.contactNo {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.ContactNo {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.presentAddress {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.PresentAddress {
  width: 300px;
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.permanantAddress {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.PermanantAddress {
  width: 300px;
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

.UploadPhoto {
  width: 150px;
  font-size: 16px;
  color: var(--greyTextColor);
}

.uploadPhoto {
  width: 300px;
  color: var(--deepDarkThemeTextColor);
  font-size: 16px;
}

@media (max-width: 1000px) {
  .mainContainer {
    /* min-width: 400px;
  max-width: 400px; */
  }

  .mainBox {
    display: flex;
    flex-direction: column;
  }

  .leftsideBlock {
    width: 100%;
    font-size: 14px;
  }

  .rightSideBlock {
    width: 100%;
    font-size: 14px;
  }
}
