.name_div{

display: flex;
flex-direction: column;
width:100%;
align-items: center;
justify-content: center;
border-style: none;
}

.name_txt{
width: 100%;
position: relative;
background-color:white;
font-size: 18px;
color: grey;
font-weight: thin;
}

.name_inputDiv{
width: 100%;
border-style: none;
padding: 10px;
}

.input_field  {
position: relative;
width: 100%;
height: 40px;
font-size:20px;
box-sizing: border-box;
border-style:solid;
border-width: 1px;
border-color: lightgrey;
background-color: white;
border-radius: 5px;
padding-left: 10px;
}



.input_field:focus {
    border-style: solid;
    border-width: 1px;    
    outline: none !important;
    border-color: var(--themeColor);
    border-radius:5px;
}




.input_field_paragraph{
position: relative;
width: 100%;
height: 150px;
box-sizing: border-box;
border-style:solid;
border-width: 1px;
border-color: lightgrey;
background-color: white;
border-radius: 5px;
padding: 10px;
font-size: 20px;
font-style: normal;
font-family: Roboto;
}

.input_field_paragraph:focus{
border-style: solid;
border-width: 2px;
outline: none !important;
border-color: #719ECE;
border-radius:5px;

}









.input_field_date  {
position: relative;
width: 100%;
max-width:300px;
height: 30px;
font-size:20px;
box-sizing: border-box;
}


.input_field_date:focus {
    border-style: none;
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
    border-radius:3px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}






.inputText_field  {
position: relative;
width: 100%;
height: 200px;
font-size:20px;
box-sizing: border-box;
}



.inputText_field:focus {
    border-style: none;
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
    border-radius:3px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}











