.createTicketFormDivParent {

    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    z-index: 10000;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.createTicketForm {

    position: relative;
    width: 80vw;
    height: 60vh;
    max-width: 800px;
    min-width: 370px;
    background-color: white;
    border-radius: 5px;
    border-style: none;
    border-color: grey;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;


}



.createTicketFormLoading {

    position: relative;
    width: 60vw;
    height: 80vh;
    min-width: 300px;
    background-color: white;
    border-radius: 5px;
    border-style: none;
    border-color: grey;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.submittingDiv {
    padding-top: 100px;
    color: var(--themeColor);

}









.closeButtonDiv {
    width: 95%;
    display: flex;
    background-color: white;
    justify-content: flex-end;
    border-radius: 5px;
    margin-top: 10px;
}



.closeFormButton {
    border-style: none;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}


.closeButtonIcon {

    font-size: 25px;

}


.logoAndTitleContainer {


    height: 150px;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bwLogo {

    height: 75px;
    width: 75px;

}

.formTitleDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #585858;
    align-items: center;
}

.formTitleDiv i {

    font-size: 30px;
    font-style: normal;
}



.submitButtonDiv {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 50px;
    border-style: none;
}


.submit_button {
    width: 50%;
    border-style: none;
    background-color: var(--themeColor);
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}


.emptyDiv {
    width: 80%;
    border-style: solid;
    height: 100px;
    color: white;

}


.optionContainers {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 80px;
    border-style: none;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    border-color: red;
    margin: auto;
}


.tubeIcon {
    font-size: 30px;
    color: blue;
}

.tubeIconText {
    font-size: 30px;
    margin-left: 15px;
}



.titleDiv {
    width: 90%;

}

.LinkDiv {
    width: 90%;
    margin-top: 20px;
}

.descriptionDiv {
    width: 90%;
    margin-top: 20px;
}


.logo {
    margin-bottom: 20px;
}

.approverDIv {
    width: 90%;
    min-height: 50px;
    border-radius: 10px;
    border: solid 1px lightgray;
    background-color: white;
    margin-top: 20px;
}

.pleaseDiv {
    display: flex;
    justify-content: start;
    padding: 8px;
    font-size: 15px;
    color: rgb(131, 131, 131);
}

.singleApprovalDiv {
    display: flex;
    justify-content: start;
    padding: 8px;
    font-size: 15px;
}

.approvalBoxDiv {
    max-height: 300px;
    width: 90%;
    padding: 5px;
}