.contactTitleDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--bodyBkgColor);
  border-style: none;
  border-color: orange;
  height: 100%;

}

.topbox {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  border-radius: 0px;
  border-top: 1px solid var(--cardBorderColor);
  border-style: none;
  border-left: 1px solid var(--cardBorderColor);
  border-bottom: 1px solid var(--cardBorderColor);
}

.innerTopBox {
  border-style: none;
  display: flex;
  position: relative;
  margin-left: 3px;



}



.insLogo {
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.insName {
  margin-left: 10px;
  color: var(--deepDarkThemeTextColor);
  display: flex;
}

.instituteNameText {
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  border-style: none;
}

.instituteRelation {
  font-weight: thin;
  color: var(--themeColor);
}





.mainContainer {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: none;
  border-color: red;
}

.mainContainer2 {
  width: 20%;
  min-width: 200px;
  height: 100%;

  margin-top: 5px;
}

.parentClass {
  width: 80%;
  height: 100%;
  border-style: none;
  border-color: cyan;
  overflow-y: scroll;
  overflow-x: hidden;
}

.parentClass2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; 
  overflow-x: hidden;
  scroll-behavior: smooth;
margin-bottom: 20px;
}

.parentClass2:hover {
  overflow-y: auto; 
}

.parentClass2::-webkit-scrollbar {
  width: 4px; 
}

.parentClass2::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.parentClass2::-webkit-scrollbar-track {
  background-color: transparent; 
}

.menuTitle {
  /* height: 40px; */
  border-bottom: 1px solid var(--cardBorderColor);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bodyBkgColor);
  padding-top: 10px;
  padding-bottom: 10px;
}

.peopleBtn {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--cardBorderColor);
}

.peopleBtn:hover {
  background-color: white;
  color: var(--themeColor);
  cursor: pointer;
}

.peopleBtn:hover .peopleIcon {
  color: var(--themeColor);
}

.peopleIcon {
  width: 30px;
  height: 30px;
  background-color: var(--cardBorderColorLight);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.peopleSection {
  margin-left: 10px;
  text-align: start;
  font-size: 14px;
}

.AttendanceBtn {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--cardBorderColor);
}

.AttendanceBtn:hover {
  background-color: white;
  color: var(--themeColor);
  cursor: pointer;
}

.AttendanceBtn:hover .AttendanceIcon {
  color: var(--themeColor);
}

.AttendanceIcon {
  width: 30px;
  height: 30px;
  background-color: var(--cardBorderColorLight);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.AttendanceSection {
  margin-left: 10px;
  text-align: start;
  font-size: 14px;
}

.feesBtn {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--cardBorderColor);
}

.feesBtn:hover {
  background-color: white;
  color: var(--themeColor);
  cursor: pointer;
}

.feesBtn:hover .AttendanceIcon {
  color: var(--themeColor);
}

.feesIcon {
  width: 30px;
  height: 30px;
  background-color: var(--cardBorderColorLight);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.feesSection {
  margin-left: 10px;
  text-align: start;
  font-size: 14px;
}

.courseBtn {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--cardBorderColor);
}

.courseBtn:hover {
  background-color: white;
  color: var(--themeColor);
  cursor: pointer;
}

.courseBtn:hover .AttendanceIcon {
  color: var(--themeColor);
}

.coursesIcon {
  width: 30px;
  height: 30px;
  background-color: var(--cardBorderColorLight);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coursesSection {
  margin-left: 10px;
  text-align: start;
  font-size: 14px;
}


.createInstButton {

  margin-right: 20px;
  cursor: pointer;
  height: 40px;
  width: 60px;
  border-style: none;
  border-radius: 5px;
  color: var(--themeColor);
}


.instituteDropDownButton {

  border-style: none;
  margin-left: 10px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
}


.NoInstituteSelSpan {
  border-style: none;
  border-width: 1px;
  font-size: 20px;
  color: grey;
}