

.studentsContainerParentDiv{

width: 90%;
border-style: none;
margin: auto;
border-color: green;
}


.studentsContainer{

width: 100%;
margin: auto;
display: grid;
grid-template-columns: repeat(auto-fit, 200px );
grid-auto-rows: 250px ;
border-style: none;
grid-column-gap: 50px;
grid-row-gap: 50px;
margin-top: 50px;
border-color: red;
}


.searchBoxEnrolledStudents{
border-style: solid;
margin-top: 50px;
width: 50%;
padding: 7px;
border-width: 1px;
border-color: grey;
}

.input_fieldSearch{

width: 80%;
margin-left:10px;
font-size: 20px;
border-style: none;
}

.input_fieldSearch:focus{
 outline: none !important;
/* border:none;
 box-shadow: 0 0 10px #719ECE;*/
background-color: var(--lightThemeColor1);
}













