

.userBox{
width: 70%;
height: 100px;
border-style: solid;
border-width: 1px;
max-width: 500px;
margin: 5px;
display: flex;
border-color: #e0ebff;
border-radius: 4px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
padding: 20px;
}

.userImage{

height: 100%;
width:100px;
border-radius: 50%;

}

.nameInfo{

border-style: none;
margin-left: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
}


